<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./../css/materialize.min.css" />
    <link rel="stylesheet" href="./../css/items.css" />
    <link rel="stylesheet" href="./../css/global.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper" id="navBar">
        <a href="#" class="brand-logo" id="logo">MY TRELLO</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="./../newProject.html" id="newProject">New project</a>
          </li>
          <li>
            <a href="./../index.html" id="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content" class="content">
      <div class="center" id="topPart">
        <h2 class="center" id="projectName"></h2>
        <h4 class="center" id="projectDesc"></h4>
      </div>

      <div class="row" id="projectContent"></div>
    </div>

    <a href="../views/dashboard.html">ir al dashboard</a>

    <script src="./../js/logout.js"></script>
    <script src="./../js/items.js"></script>
  </body>
</html>
