<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>

    <link rel="stylesheet" href="./../css/materialize.min.css" />
    <link rel="stylesheet" href="./../css/login.css" />

    <script src="../js/materialize.min.js"></script>
  </head>
  <body>
    <div class="center-align container" id="container">
      <h2 id="title">LOGIN</h2>
      <div class="login_container">
        <input
          class="myBtn center-align btn"
          placeholder="Username"
          type="text"
          id="username"
        />
        <input
          class="myBtn center-align btn"
          placeholder="Password"
          type="password"
          id="password"
        />
        <a
          class="waves-effect waves-light mySubmitBtn btn center-align"
          id="login"
          >Login</a
        >
        <p id="register">
          Don't have an accout? <a id="registerLink">Register</a>
        </p>
      </div>
    </div>
  </body>
  <script src="../js/login.js"></script>
</html>
