<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>

    <link rel="stylesheet" href="./../css/materialize.min.css" />
    <link rel="stylesheet" href="./../css/register.css" />

    <script src="../js/materialize.min.js"></script>
  </head>
  <body>
    <div class="center-align container" id="container">
      <h2 id="title">REGISTER</h2>
      <div class="register_container">
        <input
          class="myBtn btn"
          placeholder="Username"
          type="text"
          id="username"
        />
        <input
          class="myBtn btn"
          placeholder="Password"
          type="password"
          id="password"
        />
        <input class="myBtn btn" placeholder="Name" type="text" id="name" />
        <a
          class="waves-effect waves-light mySubmitBtn btn center-align"
          id="register"
          >Register</a
        >
        <p id="login">Already have an accout? <a id="loginLink">Login</a></p>
      </div>
    </div>
  </body>
  <script src="../js/register.js"></script>
</html>
