.navBar {
  font-size: 30px;
}

#title {
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 60px;
}

#projectsContent {
  margin: 40px;
  color: red;
  padding: 30px;
}

body {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
