.navBar {
  font-size: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#projectsContent {
  margin: 40px;
  color: red;
  padding: 30px;
  display: flex;
}

#projectTitle {
  font-size: 30px;
  color: #f0efec;
}

.projectHeader {
  border: 1px solid black;
  border-radius: 5px;
}

.projectDes {
  position: absolute;
  bottom: 0;
}

.projectFooter {
  position: absolute;
  bottom: 0;
}

.projectContainer {
  position: relative;
  width: 28%;
  font-size: 20px;
  display: inline-block;
  margin: 30px;
  color: black;
  border-radius: 5px;
  background-color: #bf3030;
}

.projectName {
  text-align: center;
  text-transform: capitalize;
}

.projectProgress {
  text-align: right;
}

.p {
  display: inline-block;
  max-width: 66.66%;
  vertical-align: top;
}

#mdCard {
  background-color: #f0efec;
}

#mdLink {
  color: #ffffff;
  background-color: #8a9fbf;
}

div.card-action {
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}

button.btn {
  background-color: #8a9fbf;
}

#delete {
  background-color: red;
}
